*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'inter';
}

header{
    display: flex;
    justify-content: space-around;
    padding: 47px;

    & .nav{
        align-items: center;
        display: flex;
        gap: 103px;

        & a{
            color:#6B7280;
        }

        & .navHome{
            color: black;
        }

        & .navGet{
            color: white;
            font-weight: bold;
            background-color: #1F1F39;
            text-align: center;
            padding: 13px 35px;
            border-radius: 8px;
        }
    }
}

main {
  .home {
    display: flex;
    align-items: center;       
    justify-content: space-between;
    margin: 171px 120px;
    gap: 50px;

    .text {
      max-width: 680px;
      display: flex;
      flex-direction: column;
      gap: 30px;

      h1 {
        font-size: 70px;
      }

      p {
        color: #1F1F39B2;
        font-size: 28px;
      }

      a {
        background-color: #1F1F39;
        text-align: center;
        font-weight: bold;
        font-size: 24px;
        color: white;
        padding: 20px 35px;
        border-radius: 8px;
        width: fit-content;
      }
    }

    .ImgHome img {
      max-width: 417px;
      height: auto;
    }
  }

  .Portifolio {
    & .in{
        font-size: 40px;
    }
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;
  text-align: center;



    & .cards{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 109px 368px;
        padding-top: 109px;
        
        & .card1, .card2, .card3, .card4, .card5, .card6{
            display: flex;
            flex-direction: column;
            max-width: 416px;
            font-size: 28px;

            & img{
            width: 100%;
            border-radius: 10px;
            margin-bottom: 15px;
            }
        }
    }
  }
}